<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/dashboard">
        <div class="sidebar-brand-text mx-3">CMS - Data Platform</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class=" <%= currentMenu === '/dashboard' ? 'nav-item active' : 'nav-item' %> ">
        <a class="nav-link" href="/admin/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span> Dashboard </span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Users
    </div>

    <li class="<%= currentMenu === '/user' ? 'nav-item active' : 'nav-item' %>">
        <a class="nav-link" href="/admin/user">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Users</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Link
    </div>

    <li class="<%= currentMenu === '/subscribe' ? 'nav-item active' : 'nav-item' %>">
        <a class="nav-link" href="/admin/subscribe">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Subscribe</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Link</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Link Screens :</h6>
                <a class="<%= currentMenu === '/link' ? 'collapse-item active' : 'collapse-item' %>" href="/admin/link">Database Link</a>
                <a class="<%= currentMenu === '/request-connect' ? 'collapse-item active' : 'collapse-item' %>" href="/admin/request-connect">Request Connect</a>
                <a class="<%= currentMenu === '/captable' ? 'collapse-item active' : 'collapse-item' %>" href="/admin/captable">Captable</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->

    <div class="sidebar-heading">
        Admin
    </div>

    <li class="<%= currentMenu === '/admin' ? 'nav-item active' : 'nav-item' %>">
        <a class="nav-link" href="/admin/admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Admin</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->